<%= form_with(model: sentence, class: "mb-7") do |form| %>
  <div class="mb-5">
    <%= form.text_field :text, placeholder: "Add a new sentence", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
    <%= form.submit "Save 💾", class: "btn ml-2 btn-blue" %>
  </div>
<% end %>