<div data-controller="sentences">
  <h1 class="text-lg font-bold mb-10">
    <%= link_to '<-', sentences_path, class: 'dark:md:hover:text-blue-600 font-bold' %>
    Sentence Tagger
  </h1>

  <p class="mb-10 italic" data-sentences-target="step">First select one word...</p>
  <p class="mb-10 hidden italic" data-sentences-target="step">Now select an ending word for your tag (tip: it can be the same word)...</p>
  <p class="mb-10 hidden italic" data-sentences-target="step">Excelent! Now create your tag or pick an existing one.</p>

  <%= render @sentence %>

  <div data-sentences-target="entityFormWrap" class="hidden rounded py-5 sm:py-10 w-full">
    <%= render partial: 'entities/form', locals: { entity: @new_entity } %>
  </div>
</div>