<span style="background-color: <%= entity.entity_type.color %>" class="p-1 rounded-md cursor-default mr-1 text-<%= entity.entity_type.text_color %>">
  <span class="text-lg"><%= entity.text %></span>
  <span class="font-bold uppercase ml-2 text-sm"><%= entity.entity_type.text %></span>
</span>